* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

Nav {
  display: flex;
  justify-content: space-around;
  min-height: 9vh;
  align-items: center;
  /* background-color: ; */
  font-size: large;
  background-color: rgb(39, 79, 114);
}

.logo {
  letter-spacing: 5px;
  font-size: 20px;
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.nav-link {
  list-style: none;
}

.nav-links li {
  font-weight: bold;
  transform: translateX(100%);
}

.burger {
  display: none;
}

.burger div {
  width: 30px;
  height: 5px;
  margin: 5px;
  margin-left: 10px;
  background-color: black;
}

@media screen and (max-width: 890px) {
  .burger {
    display: block;
    width: 50px;
    height: 50px;
    display: block;
    padding-top: 5px;
  }

  body {
    overflow-x: hidden;
  }

  .nav .burger:hover {
    cursor: pointer;
  }

  .nav-links {
    display: flex;
    position: absolute;
    background-color: rgb(39, 79, 114);
    top: 9vh;
    height: 91vh;
    width: 30%;
    right: 0px;
    flex-direction: column;
    align-items: center;
    transition: transform 1s;
    transform: translateX(100%);
  }

  .nav-links {
    transition: transform 1s;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navFade {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 100;
    transform: translateX(0px);
  }
}
